absl-py==1.4.0
appdirs==1.4.4
arviz 
asgiref==3.7.2
astor==0.8.1
astunparse==1.6.3
beautifulsoup4==4.12.2
Bottleneck 
cachetools==5.3.1
certifi 
cffi==1.15.1
cftime 
charset-normalizer==3.1.0
click==8.1.3
colorama 
convertdate 
cryptography==40.0.2
cycler 
Cython 
Django==3.2.16
djangorestframework==3.14.0
ephem 
flatbuffers==23.5.26
flit_core 
fonttools==4.25.0
frozendict==2.3.8
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.2
h5py==3.8.0
hijri-converter 
holidays 
html5lib==1.1
idna==3.4
importlib-metadata==6.6.0
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver 
korean-lunar-calendar 
libclang==16.0.6
LunarCalendar 
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib 
MetaTrader5==5.0.45
mkl-service==2.3.0
multitasking==0.0.11
munkres==1.1.4
netCDF4 
nsepy==0.8
numexpr 
numpy 
oauthlib==3.2.2
opt-einsum==3.3.0
packaging 
pandas 
Pillow==9.4.0
ply==3.11
prophet 
protobuf==3.19.6
psycopg2==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyMeeus 
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
pystan==2.19.1.1
python-dateutil 
pytz 
requests==2.30.0
requests-oauthlib==1.3.1
rsa==4.9
schedule==1.2.0
scipy 
setuptools-git==1.2
sip 
six 
soupsieve==2.4.1
SQLAlchemy==1.4.46
sqlparse==0.4.4
tensorboard==1.14.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==1.14.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
toml 
tornado 
tqdm 
typing_extensions 
urllib3==1.26.16
webencodings==0.5.1
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.15.0
xarray 
yfinance==0.2.18
zipp==3.15.0
